/* app css stylesheet */
h5{
  line-height:1em;
}

p{
  margin:0;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
img.thumbnail{
  max-width:70px;
  max-height:88px;
  display:inline-block;
}
.thumbnail-container{
  display:inline;
  overflow:hidden;
}
.info-area{
  display:inline-block;
  max-width:300px;
}
.list-group.collapsed .library-item{
  height: 40px;
}
.list-group.collapsed p, .list-group.collapsed h5{
  font-size:12px;
  display:inline-block;
}

.library-item{
  padding: 6px;
  margin: 0 0 6px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  height:100px;
  max-width:550px;
  min-width:450px;
}
.library-item .button{
  margin:0;
  float:right;
}
.list-group{
  background-color:#eee;
  padding: 6px;
}
input.search-input{
  max-width: 550px;
  margin: 6px;
  font-size: 20px;
  font-weight: 900;
}
.top{
  padding:6px;
  max-width: 550px;
}
.top .button{
  margin-bottom:0;
}
.top .dropdown.button.large.selected{
  float:right;
  background-color:red;
  transition:1s;
  padding-left:15px;
  padding-right:15px;
}
.dropdown.button.large.selected::after{
  display:none;
}