/* app css stylesheet */
h5{
  line-height:1em;
}

p{
  margin:0;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
img.thumbnail{
  height:88px;
  display:inline-block;
}
.info-area{
  display:inline-block;
  max-width:300px;
}
.library-item{
  padding: 6px;
  margin: 0 0 6px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  height:100px;
  max-width:550px;
  min-width:450px;
}
.library-item .button{
  margin:0;
  float:right;
}
.list-group{
  background-color:#eee;
  padding: 6px;
}
input.search-input{
  max-width: 550px;
  margin: 6px;
  font-size: 20px;
  font-weight: 900;
}
