/* app css stylesheet */
h5{
  line-height:1em;
  font-size:20px;
}

p{
  margin:0;
  font-size:16px;
}
img.thumbnail{
  max-width:86px;
  max-height:108px;
  display:inline-block;
}
.thumbnail-container{
  display:inline;
  overflow:hidden;
}
.info-area{
  display:inline-block;
  vertical-align:middle;
}
.main-info-container{
  height:80px;
  vertical-align:middle;
  display:inline-block;
  max-width:265px;
}
.collapsed .main-info-container{
  max-width:700px;
}
.list-group.collapsed .library-item{
  height: 40px;
  margin:0;
}
.library-item{
  padding: 6px;
  margin: 0 0 6px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  height:120px;
  width: 100%;
  min-width:550px;
}
.library-item.expanded{
  height: 340px !important;
}
.library-item.expanded img{
  display:inline-block !important;
}
.list-group.collapsed p{
  display:inline-block;
}
.list-group.collapsed h5{
  font-weight:500;
  margin-right:10px;
  display:inline-block;
}


.list-group{
  background-color:#eee;
  padding: 6px;
}
input.search-input{
  max-width: 80%;
  margin: 6px;
  font-size: 29px;
  font-weight: 700;
  display:inline-block;
  height:55px;
}

.side-bar .button{
  margin: 10px 20px 0;
  width:222px;
}
.top .dropdown.button.large.selected{
  float:right;
  background-color:red;
  transition:1s;
  padding-left:15px;
  padding-right:15px;
}
.dropdown.button.large.selected::after{
  display:none;
}
a.read{
  margin:23px 10px;
  float:right;
}
a.toggle-menu{
  padding: 13px 19px;
  margin: 6px 0;
  z-index:5000;
}
snap-content{
  background-color:#fff;
  max-width:750px;
  min-width:450px;
}
snap-drawer{
  background-color:#333;
}
.extra-info{
  display:none;
}
.expanded .extra-info{
  display:block;
  padding: 20px;
  margin:20px 0;
  border: 1px solid #ccc;
}